<span
  (click)="onClick()"
  class="children-toggle"
  *ngIf="node.hasVisibleChildren">
    <i
      *ngIf="!template"
      class="fa fa-fw"
      [class.fa-plus-square-o]="!node.expanded"
      [class.fa-minus-square-o]="node.expanded">
    </i>

    <ng-container
      [ngTemplateOutlet]="template"
      [ngOutletContext]="{ $implicit: node.data, item: node.data, expanded: expanded}"
      *ngIf="template"></ng-container>

</span>

<span
  class="children-toggle children-toggle-none"
  *ngIf="!node.hasVisibleChildren">
    <i class="fa fa-fw"></i>
</span>
