<i>
  {{title}}
</i>

<div>
  <div style="width: 50%; float: left;">
    <input #filter1 type="text" (input)="onChangeFilter(filter1.value);">
    <input #search1 type="text" (input)="onChangeSearch(search1.value);">
    <app-tree-view
      #tree1
      [items]="items1"
      (changeValue)="onChange($event)"
      (highlight)="onHighlight($event)"
      (select)="onSelect($event)">
    </app-tree-view>
    <button (click)="tree1.expand()">Expand</button>
    <button (click)="tree1.collapse()">Collapse</button>
  </div>
  <div style="width: 50%; float: left;">
    <app-tree-view
      (dropNode)="onDrop($event)"
      [items]="items2">
      <ng-template
        let-item="item"
        #treeNodeContentTemplate>
        <div style="display: inline-block; text-align: right;">
          <span>{{item.id}}<button (click)="markAsNew(item)">New</button></span>
        </div>

      </ng-template>
    </app-tree-view>
  </div>
</div>


