<span (click)="onClick()">
    <i [class.fa-square-o]="checked===false"
       [class.fa-check-square-o]="checked!==false"
       [class.indeterminate]="indeterminate"
       class="fa fa-fw"></i>
</span>
