<div class="tree-node-wrapper">
  <div class="tree-node-content-wrapper"
       draggable="true"
       [dragData]="node"
       dropZone
       (dragEnter)="onDragEnter($event)"
       (dragLeave)="onDragLeave($event)"
       (dragOver)="onDragEnter($event)"
       (dropNode)="onDrop($event)"
       (click)="onClick()"
       [class.tree-node-content-wrapper--selected]="node.selected"
       [class.tree-node-content-wrapper--drop]="highlightDropZone">
    <app-tree-view-node-indent [level]="level"></app-tree-view-node-indent>
    <app-tree-view-node-expander
      [node]="node"
      [template]="templates.expanderTemplate">
    </app-tree-view-node-expander>
    <app-tree-view-checkbox [node]="node" *ngIf="treeModel.checkbox"></app-tree-view-checkbox>
    <app-tree-view-node-content
      [node]="node"
      [template]="templates.contentTemplate">
    </app-tree-view-node-content>
  </div>
</div>

<div *ngIf="node.expanded && node.hasVisibleChildren">
  <app-tree-view-node-children
    [templates]="templates"
    [nodes]="node.children"
    [level]="1+level">
  </app-tree-view-node-children>
</div>
