.tree-node-content-wrapper {
  cursor: default;
  display: flex;
}

.tree-node-content-wrapper:hover  {
  background: #d9edf7;
}

.tree-node-content-wrapper--selected {
  font-weight: bold;
}

.tree-node-content-wrapper--drop {
  background: #d9edf7;
}
